service cloud.firestore {
  match /databases/{database}/documents {
    match /{collectionName}/{docId} {
      allow read: if collectionName == 'original';
    }
    match /{document=**} {
      // you have to be logged in to read or create a document
      allow read, create: if request.auth.uid != null; 
      
      // your logged in UID must match the ownerUid to edit a document
      allow update: if request.auth.uid == request.resource.data.ownerUid;  
      
      // no one can deleted a document
      allow delete: if false; 
    }
  }
}